$choice-color: #cccccc;

.choice {
  margin: 10px auto; // centering the MC choices
  user-select: none;
  width: 33%;
  border-radius: 20px;
  border: 2px solid $choice-color;
  transition-duration: 50ms;
  background-color: white;
  height: 3em;
  overflow-y: scroll;
  padding: 0.5%;
}

.choice:active {
  opacity: .95;
}

.choice:hover {
  background-color: darken($choice-color, 10%);
}

.choice.answer {
  background-color: darken($choice-color, 15%);
}

.choice.answer:hover {
  background-color: darken($choice-color, 20%);
}

.disabled {
  cursor: not-allowed;
}

.notdisabled {
  cursor: pointer;
}
