.button-container {
  margin-top: 10px;
  display: flex; }

.answer-preview {
  text-align: left; }

.ace-editor {
  border: 2px solid gray; }

.writecodeBlock > pre {
  max-height: 250px;
  overflow-y: scroll; }
