@import "../containers/App.scss";

.feedback {
  margin: 0;
  padding: 1em;
  /*border-left: 1px dotted darkslategray;*/
  text-align: center;
  background-color: white;
  position: relative;
  width: 30%;
  border-bottom: 1px solid #9FA8DA;
}