@import "../containers/App.scss";

.feedback {
  margin: 0;
  padding: 1em;
  border-left: 1px dotted darkslategray;
  text-align: center;
  background-color: $component-background;
  position: relative;
}