@import "../containers/App.scss";

.submit-container {
  display: flex;
  justify-content: center;
  max-height: 4em;
  /*background-color: $component-background;*/
}

.btn.btn-submit.click {
  cursor: pointer;
}

.btn.btn-submit.no-click {
  cursor: not-allowed;
}
