.custmc {
  margin: 2px;
}

.table-wrong {
  background-color: rgb(252, 216, 216);
}

.table-correct {
  background-color: rgb(230, 248, 230);
}

.reg {
  background-color: white;
}

.disabledt {
  cursor: not-allowed;
}

.notdisabledt {
  cursor: pointer;
}

$choice-color: #cccccc;

.choicet {
  height: auto;
  margin: 10px auto; // centering the MC choices
  user-select: none;
  padding: 2.5%;
  width: 33%;
  // margin: 10px;
  border-radius: 20px;
  border: 2px solid $choice-color;
  // background-color: $choice-color;
  transition-duration: 50ms;
  background-color: white;
}

.choicet:active {
  opacity: .95;
}

.choicet:hover {
  background-color: darken($choice-color, 10%);
}

.answert {
  background-color: darken($choice-color, 15%);
}

.answert:hover {
  background-color: darken($choice-color, 20%);
}

.blank {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid #3F51B5;
}

.blank:focus {
  outline: none;
  background-color: #eef3fa;
}