.custmc {
  margin: 2px;
}

.table-wrong {
  background-color: rgb(252, 216, 216);
}

.table-correct {
  background-color: rgb(230, 248, 230);
}

.reg {
  background-color: white;
}

.disabled {
  cursor: not-allowed;
}

.notdisabled {
  cursor: pointer;
}