table {
  border-collapse: collapse;
  border-spacing: 0;
  border:1px solid black;
}

th {
  border:1px solid black;
  padding: 5px;
  text-align: center;
}

td {
  border:1px solid black;
  padding: 5px;
  max-width: 250px;
}