$choice-color: #cccccc;

.choice {
  margin: 10px auto; // centering the MC choices
  user-select: none;
  cursor: pointer;
  padding: 2.5%;
  width: 33%;
  // margin: 10px;
  border-radius: 20px;
  border: 2px solid $choice-color;
  // background-color: $choice-color;
  transition-duration: 50ms;
}

.choice:active {
  opacity: .95;
}

.choice:hover {
  background-color: darken($choice-color, 10%);
}

.choice.selected {
  background-color: darken($choice-color, 15%);
}

.choice.selected:hover {
  background-color: darken($choice-color, 20%);
}
