@import '../containers/App.scss';

.prompt {
  //height: 15vh;
  padding: 0 2.5%;
  border-bottom: 1px dotted black;
  text-align: center;
  background-color: $component-background;
}

.exercise-type {
  font-size: 0.6em;
  padding: 2%;
  color: darkblue;
}
