$app-background: #f8f8f8; // pulled from codemirror lol
$component-background: #fff;

.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: $app-background;
}

.title {
  text-align: center;
}

.main {
  padding: 3em;
}

.problem, .question, .submit-container {
  background-color: $component-background;
}

.problem {
  margin: 2em auto;
  width: 75vw;
  border: 1px dotted black;
}

.question {
  //height: 15vh;
  padding: 0 2.5%;
  border-bottom: 1px dotted black;
  text-align: center;
}

.question-type {
  font-size: 0.6em;
  padding: 2%;
  color: darkblue;
}

.information {
  width: 100%;
  display: flex;
  border-bottom: 1px dotted black;
}

$code-font: courier;

.code {
  padding: 0;
  width: 50%;
  max-height: 60vh;
  background-color: #f7f7f7;
  overflow-y: scroll;
}

.code.full {
  width: 100%;
}

.code-part, .code-fill {
  display: inline-block;
  font-family: $code-font;
}

.code-fill {
  background-color: #dddddd;
  border: solid 1px #bbbbbb;
  width: 3em;
  resize: none;
  height: 1em;
  overflow: hidden;
}

.code-config {
  margin-left: 15px; // aligned with line numbers
  padding: .5%;
}

.response {
  padding: 2.5%;
  width: 45%;
}

.multiple-choice, .short-response h3, .short-response-value {
  text-align: center;
}

.short-response-value textarea {
  max-width: 50%;
  max-height: 200px;
}

$choice-color: #cccccc;

.choice {
  margin: 10px auto; // centering the MC choices
  user-select: none;
  cursor: pointer;
  padding: 2.5%;
  width: 33%;
  // margin: 10px;
  border-radius: 20px;
  border: 2px solid $choice-color;
  // background-color: $choice-color;
  transition-duration: 50ms;
}

.choice:active {
  opacity: .95;
}

.choice:hover {
  background-color: darken($choice-color, 10%);
}

.choice.selected {
  background-color: darken($choice-color, 15%);
}

.choice.selected:hover {
  background-color: darken($choice-color, 20%);
}

.submit-container {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  border: 1px solid #555;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
  cursor: pointer;
  user-select: none;
  transition-duration: 50ms;
}

.btn:hover {
  background-color: #eee;
}

.HighlightCode .cm-s-material .CodeMirror-line .CodeMirror-selectedtext {
  background-color: darkblue;
}

.HighlightCode .cm-s-eclipse .CodeMirror-line .CodeMirror-selectedtext {
  background-color: yellow;
}

.FillBlank .cm-s-eclipse span.cm-comment {
  border: 1px black solid;
}

.FillBlank .cm-s-material span.cm-comment {
  border-width: 1px black solid;
}

// temporary
.debug {
  margin-left: 0.5em;
}