.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.problem {
  margin: 3em auto;
  width: 75vw;
  border: 1px dotted black;
}

.question {
  height: 15vh;
  padding: 0 2.5%;
  border-bottom: 1px dotted black;
}

.information {
  width: 100%;
  display: flex;
}

$code-font: courier;

.code, .response {
  padding: 2.5%;
}

.code {
  width: 45%;
  max-height: 60vh;
  background-color: #ddd;
  padding: 2.5%;
  overflow-y: scroll;
}

.code.full {
  width: 95%;
}

.code-part, .code-fill {
  display: inline-block;
  font-family: $code-font;
}

.code-fill {
  background-color: #dddddd;
  border: solid 1px #bbbbbb;
  width: 3em;
  resize: none;
  height: 1em;
  overflow: hidden;
}

.response {
  width: 50%;
}

$choice-color: #cccccc;

.choice {
  user-select: none;
  cursor: pointer;
  padding: 2.5%;
  width: 33%;
  margin: 10px;
  border-radius: 5px;
  background-color: $choice-color;
  transition-duration: 50ms;
}

.choice:active {
  opacity: .95;
}

.choice:hover {
  background-color: darken($choice-color, 10%);
}

.choice.selected {
  background-color: darken($choice-color, 15%);
}

.choice.selected:hover {
  background-color: darken($choice-color, 20%);
}
