.container {
  padding: 30px;
  margin-top: 50px;
}

.container h1 {
  text-align: center;
}

.section {
  margin: 30px;
}

.section-heading {
  font-weight: bold;
}

.section-subheading {
  color: #3f51b5;
}