@import "App.scss";

.exercise-view {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  /*border: 1px dotted black;*/
  background-color: $component-background;
}

.exercise-container {
  display: flex;
  justify-content: space-evenly;
  float: right;
  width: 75%;
  margin: 7% auto 7% auto !important;
}