.overallView {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.content-container {
  width: 100%;
}

.instruct-content-container {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.nav-arrow-btn {
  border: none;
  background: none;
  font-size: 20px;
  color: #3f51b5;
  height: 50px;
  position: fixed;
  top: 50vh;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

.nav-arrow-btn:hover {
  cursor: pointer;
}

.nav-arrow-btn:focus {
  outline: none;
}

.dot-navigation-container {
  width: 100%;
  padding-bottom: 0%;
}

.dot-navigation-container2 {
  margin: auto;
  width: 30%;
}

.dot-navigation {
  list-style: none;
  color: lightgray;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.dot-navigation .dot:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
